*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: #171836;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.container{
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}
@media(max-width: 991px){
    .container{
        max-width: 750px;        
    }
}
@media(max-width: 575px){
    .container{
        max-width: 500px;        
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 131px;
}
@media(max-width: 991px){
    .header{
        padding-bottom: 100px;        
    }
}
@media(max-width: 575px){
    .header{
        padding-bottom: 50px;        
    }
}
.header__nav{
    display: flex;
    align-items: center;
    margin-top: 25px;   
    margin-bottom: 25px;
}
@media(max-width: 991px){
    .header__nav{
        margin-top: 10px;        
    }
}
.header__logo{
    margin-right: 146px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media(max-width: 991px){
    .header__logo{
        margin-right: 100px;        
    }
}
@media(max-width: 575px){
    .header__logo{
        margin-right: 40px;        
    }
}
.header__navigation{
    display: flex;
    max-width: 328px;   
    justify-content: space-between;
    list-style-type: none;
}
.header__nav-item a.nav-item_bold{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 43px;
}
@media(max-width: 991px){
    .header__nav-item a.nav-item_bold{
        padding-right: 23px;        
    }
}
@media(max-width: 575px){
    .header__nav-item a.nav-item_bold{
        padding-right: 15px;        
    }
}
.header__nav-item a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-right: 43px;
}
@media(max-width: 991px){
    .header__nav-item a{
        padding-right: 20px;        
    }
}
@media(max-width: 575px){
    .header__nav-item a{
        padding-right: 15px;        
    }
}
.header__button{
    background: #F5443B;
    border-radius: 6px;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    align-items: center;
    padding: 12px 31px;
}
@media(max-width: 991px){
    .header__button{
        padding: 12px 25px;
        font-size: 12px;        
    }
}
@media(max-width: 575px){
    .header__button{
        padding: 12px 20px;
        font-size: 12px;        
    }        
}
.main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 300px;
}
@media(max-width: 991px){
    .main{
        padding-bottom: 100px;        
    }
}
@media(max-width: 575px){
    .main{
        padding-bottom: 50px;        
    }
}
.main__imgs{
    max-width: 58%;
    position: relative;
    flex: 1 0 58%;
}
@media(max-width: 991px){
    .main__imgs{
        max-width: 52%;        
    }
}
@media(max-width: 575px){
    .main__imgs{
        display: none;        
    }
}
.imgs__bground{
    position: absolute;
    top: 57px;
    right: 160px;
}
@media(max-width: 991px){
    .imgs__bground{
        max-width: 40vw;
        right: 70px;
}
}
@media(max-width: 575px){
    .imgs__bground{
       display: none;        
    }
}
.imgs__first{
    position: absolute;
    z-index: 1;
    left: -130px;
    top: -90px;
}
@media(max-width: 991px){
    .imgs__first{
        max-width: 60vw; 
        left: -90px;
        top: -57px;       
    }
}
@media(max-width: 575px){
    .imgs__first{
        display: none;        
    }
}
.imgs__lamp{
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
    padding: 10px 10px;
    border-radius: 20px;
    transform: rotate(-8.82deg);
    border: 1px solid #6668AA;
    position: absolute;
    top: 60px;
    left: -20px;
}
@media(max-width: 991px){
    .imgs__lamp{
        padding: 1px 1px;
        top: -60px;
        left: 0px;
        width: 7vw;        
    }
}
@media(max-width: 575px){
    .imgs__lamp{
        display: none;        
    }
}
.imgs__book{
    border: 1px solid #6668AA;
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
    border-radius: 20px;
    transform: rotate(8deg);
    position: absolute;
    left: 440px;
    bottom: 540px;
}
@media(max-width: 991px){
    .imgs__book{
        left: 230px;
        bottom: 350px;
        width: 7vw;       
    }
}
@media(max-width: 575px){
    .imgs__book{
        display: none;        
    }
}  
.imgs__plank{
    display: flex;
    position: absolute;
    padding: 18px 18px;
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
    border-radius: 20px;
    top: 535px;
    left: 270px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    min-width: 360px;
}
@media(max-width: 991px){
    .imgs__plank{
       display: none;
    }
}
@media(max-width: 575px){
    .imgs__plank{
        display: none;        
    }
} 
.plank__imgs{
    max-width: 60%;
    flex: 1 0 60%;
}
.plank__el1{
    position: relative;
}
.plank__el2{
    position: absolute;
    left: 55px;
    z-index: 1;
}
.plank__el3{
    position: absolute;
    left: 90px;
    z-index: 1;
}
.plank__el4{
    position: absolute;
    left: 125px;
    z-index: 1;
}
.plank__el5{
    position: absolute;
    left: 160px;
    z-index: 1;
}
.plank__el6{
    position: absolute;
    left: 173px;
    top: 30px;
    z-index: 1;
}
.plank__txt{
    max-width: 40%;
    flex: 1 0 40%;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #BBBBC4;
    padding-left: 15px;
}
.plank__txt span.plank__txt_colored{
    color: red;
} 
.main__text{
    max-width: 42%;
    align-items: center;
    flex: 1 0 42%;
    position: relative;
}
@media (max-width: 991px){
    .main__text{
        max-width: 100%; 
        align-items: flex-start;      
    }
}
@media (max-width: 575px){
    .main__text{
        max-width: 100%s; 
        text-align: center;
    }
}
.text__tagline{
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 22px;
}
@media (max-width: 991px){
    .text__tagline{
        font-weight: 500;
        font-size: 25px;  
    }
}
@media (max-width: 575px){
    .text__tagline{
        font-weight: 400;
        font-size: 20px;  
    }
}
.text__line{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 991px){
    .text__line{
        font-size: 15px;  
    }
}
@media (max-width: 575px){
    .text__line{
        font-size: 13px;  
    }
}
input.text__form-search{
    border: 0px; 
    background-color: #1F2143;;
    border-radius: 12px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 30px;
    padding-right: 70px;
    margin-top: 58px;
    margin-bottom: 51px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    width: 100%;
}
@media (max-width: 991px){
    input.text__form-search{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;  
    }
}
@media (max-width: 575px){
    input.text__form-search{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 65px;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 12px;  
    }
}
input::placeholder{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 991px){
    input::placeholder{
        font-size: 12px;  
    }
}
@media (max-width: 575px){
    input::placeholder{
        font-size: 12px;  
    }
}
.text__form-search-img{
    position: absolute;
    right: 13px;
    bottom: 208px;
    background: #282B57;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
@media (max-width: 991px){
    .text__form-search-img{
        right: 13px;
        bottom: 135px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;         
    }
}
@media (max-width: 575px){
    .text__form-search-img{
        right: 13px;
        bottom: 130px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;     
    }
}
.text__bar{
    font-size: 14px;
    border: 1px solid rgba(154, 156, 203, 0.6);
    border-radius: 8px;
    padding: 9px 13px;
    margin-bottom: -15px;
    margin-top: 36px;
    color: rgba(154, 156, 203, 0.6);
    display: inline-block;
    margin-right: 21px;
}
@media (max-width: 991px){
    .text__bar{
        font-size: 10.5px;  
        padding: 5px 8px;
        margin-bottom: -10px;
        margin-top: 20px;
        margin-right: 8px;
    }
}
@media (max-width: 575px){
    .text__bar{
        font-size: 12px;  
        padding: 5px 8px;
        margin-bottom: -10px;
        margin-top: 20px;
        margin-right: 8px;
    }
}
.text__bar_no-margin{
    margin-right: 0;
}
.section{
    display: flex;
    padding-bottom: 155px;
    padding-top: 27px;
}
@media (max-width: 991px){
    .section{
        padding-bottom: 100px;  
    }
}
@media (max-width: 575px){
    .section{
        padding-bottom: 55px; 
        padding-top: 10px; 
    }
}
.section__block{
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: flex-start;    
}
@media (max-width: 991px){
    .section__block{
        max-width: 100%;  
    }
}
@media (max-width: 575px){
    .section__block{
        max-width: 100%;  
    }
}
.section__txt{
    max-width: 310px;
}
.section__img{
    padding-right: 15px;
    max-width: 90px;
}
@media (max-width: 991px){
    .section__img{
        padding-right: 0px; 
        max-width: 25%; 
    }
}
@media (max-width: 575px){
    .section__img{
       max-width: 30%;
    }
}
.section__txt1{
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 150%;
    padding-bottom: 20px;
    padding-top: 20px;
}
@media (max-width: 991px){
    .section__txt1{
        font-weight: 400;
        font-size: 15px;  
    }
}
@media (max-width: 575px){
    .section__txt1{
        font-weight: 400;
        font-size: 13px;  
    }
}
.section__txt2{
    font-size: 14px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 20px;
}
@media (max-width: 991px){
    .section__txt2{
        font-size: 11px;  
    }
}
@media (max-width: 575px){
    .section__txt2{
        font-size: 11px;  
    }
}
.title{
    text-align: center;
    padding-bottom: 85px;
}
@media (max-width: 575px){
    .title{
        padding-bottom: 50px;    
    }
}
.title__el{
    font-weight: 600;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 30px;
}
@media (max-width: 991px){
    .title__el{
        font-weight: 500;
        font-size: 25px;  
    }
}
@media (max-width: 575px){
    .title__el{
        font-weight: 400;
        font-size: 25px;
        padding-bottom: 10px;    
    }
}
.title__line{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 991px){
    .title__line{
        font-size: 14px;
    }
}
@media (max-width: 575px){
    .title__line{
        font-size: 15px; 
}
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}
@media (max-width: 575px){
    .card{
        flex-wrap: wrap;
        margin-bottom: 150px;
        max-height: 850px;
    }
}
.card__item{
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #292B56;
    max-width: 278px;
    max-height: 490px;
    position: relative;  
}
@media (max-width: 991px){
    .card__item{
        max-width: 24.5%;
        padding-top: 10px;
        padding-left: 7px;
        padding-right: 7px;
    }
}
@media (max-width: 575px){
    .card__item{
        max-width: 49%;   
        margin-bottom: 10px;     
    }
}
.card__img{
    width: 100%;
}
.card__el{
    padding: 8px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 12px;
    color: #FFFFFF;    
    position: absolute;
    white-space: nowrap;
    top: 140px;
    left: 20px;
    text-decoration: none;
}
@media (max-width: 991px){
    .card__el{
        padding: 7px 10px;
        font-size: 10px;
        position: absolute;
        white-space: nowrap;
        top: 85px;
        left: 15px;
    }
}
@media (max-width: 575px){
    .card__el{
        padding: 8px 13px;
        font-size: 12px;
        position: absolute;
        white-space: nowrap;
        top: 110px;
        left: 15px;
    }
}
.card__txt{
    font-weight: 500;
    font-size: 12px;  
    color: #3BF5BD;
    padding-top: 20px;
    padding-bottom: 9px;
}
@media (max-width: 575px){
    .card__select{
        font-weight: 400;
        font-size: 13px; 
    }
}
.card__select{
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 13px;
}
@media (max-width: 991px){
    .card__select{
        font-weight: 400;
        font-size: 13px;
        white-space: nowrap;
    }
}
@media (max-width: 575px){
    .card__select{
        font-weight: 400;
        font-size: 16px; 
    }
}
.card__line{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 20px;
    position: relative;
    line-height: 150%;
}
@media (max-width: 991px){
    .card__line{
        font-size: 12px;
    }
}
@media (max-width: 575px){
    .card__line{
        font-size: 13px;; 
    }
}
.card__line::after{
    content: "";
    width: 250px;
    height: 1px;
    background: #292B56;
    position: absolute;
    left: 0;
    bottom: 0;
}
@media (max-width: 991px){
    .card__line::after{
        width: 100%;
    }
}
@media (max-width: 575px){
    .card__line::after{
        width: 100%;
    }
}
.card__block{
    display: flex;
    align-items: center;
    padding-bottom: 23px;
    padding-top: 20px;
}
.card__txt-block{
    max-width: 190px;
    padding-left: 20px;
}
@media (max-width: 991px){
    .card__txt-block{
        padding-left: 10px;
    }
}
@media (max-width: 575px){
    .card__txt-block{
        padding-left: 10px;
    }
}
.card__txt-name{
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 5px;
}
@media (max-width: 991px){
    .card__txt-name{
        font-weight: 400;
        font-size: 13px;
    }
}
@media (max-width: 575px){
    .card__txt-name{
        font-weight: 400;
        font-size: 14px;
    }
}
.card__txt-pstn{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 991px){
    .card__txt-pstn{
        font-size: 11px;
    }
}
@media (max-width: 575px){
    .card__txt-pstn{
        font-size: 13px;
    }
}
.card__button{
    padding: 12px 32px;
    background: #F5443B;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;
    border: none;
}
@media (max-width: 991px){
    .card__button{
        padding: 10px 15px;
        font-weight: 400;
        font-size: 12px;
    }
}
@media (max-width: 575px){
    .card__button{
        padding: 10px 15px;
        font-weight: 400;
        font-size: 12px;
    }
}
button.card__button_none{
    display: none;
}
.card__item:hover .card__button{
    display: block;
}
.footer{
    text-align: center;
}
@media (max-width: 575px){
    .footer{
        /* position: fixed; */
    }
}
.footer__button{
    font-weight: bold;
    font-size: 16px;
    color: #F5443B;
    padding: 15px 37px;
    border: 1px solid #F5443B;
    box-sizing: border-box;
    border-radius: 6px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;    
}
@media (max-width: 991px){
    .footer__button{
        font-weight: bold;
        font-size: 14px;
        padding: 12px 20px;
    }
}
@media (max-width: 575px){
    .footer__button{
        font-weight: bold;
        font-size: 14px;
        padding: 10px 20px;
    }
}
.footer__el{
    margin-top: 115px;
    max-width: 234px;
    text-align: left;
}
@media (max-width: 991px){
    .footer__el{
        max-width: 200px;
    }
}
@media (max-width: 575px){
    .footer__text{
        max-width: 400px;
        white-space: nowrap;
    }
}
.footer__logo2{
    padding-bottom: 7px;
}
.footer__text{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.6;
    padding-bottom: 8px;
    font-weight: lighter; 
}
@media (max-width: 991px){
    .footer__text{
        font-size: 14px;
    }
}
@media (max-width: 575px){
    .footer__text{
        font-size: 16px;
    }
}
.footer__media{
    max-width: 154px;
    margin-top: 20px;
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;  
}
@media (max-width: 991px){
    .footer__media{
        max-width: 130px;
    }
}
@media (max-width: 575px){
    .footer__media{
        max-width: 150px;
    }
}
.footer__bottomline{
    font-size: 16px;
    color: #8F91D0;
    text-align: center;
    padding-bottom: 100px;
}
@media (max-width: 991px){
    .footer__bottomline{
        font-size: 13px;
        padding-bottom: 50px;
    }
}
@media (max-width: 575px){
    .footer__bottomline{
        font-size: 15px;
        padding-bottom: 50px;
    }
}